#home {
    background-image: url("./images/26302.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.aboutimg {
    width; 400px;
    height: 500px;
    position: relative;
    

}


.thumbnail {
    height: 150px;
    width: 200px;
    


    
}

.projectimg {
    object-fit: cover;
    height: 100%;
    width: 100%;
    margin: 0% auto;
    
   
}

footer {
    height: 50px;
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
}

h1, h2 {
    font-family: 'Playfair Display', serif;
    
}

.h1 {
    color: black;
    
}

.p-11 {
    color: white
    
}

p {
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

.fa-brands {
    color: yellow;
}

.contact {
    height: 90px;
    width: 90px;
}